*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
html{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;  
    background-color: #f0f8ff;
}
   body {
        margin: 0;
        height: 100%; 
    }

h2{
    text-align: center;
    color: grey; 
}
section{
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 100px 0;
}
.container{
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.brand{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
    color: transparent; /* Make the text color transparent */
    -webkit-text-stroke: 2px gray; /* Add a thick gray border to the text */

}
form{
    width: 300px;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    border: 3px solid gray;
}
form input{
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    display: inline-block;
}
.search-result{
margin-top: 50px;
display: grid;
width: 100%;
gap: 50px;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.item{
    width: 100%;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    padding: 55px;
    overflow: hidden;
}
img{
  border-radius: 5px;  
  width: 100%;
  height: 300px;
}
.flex-container{
display: flex;
align-items: center;
justify-content: space-between;
}
.title{
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 4rem;
}
.view-button{
text-decoration: none;
text-align: center;
padding: 10px 5px;
background-color: dimgray;
border-radius: 5px;
border: 2px dimgray;
width: auto;
color: whitesmoke;
margin-top: 20px;
align-self: self-start;
}
.item-data{
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    line-height: 2rem;
    font-size: 1.5rem;
    letter-spacing: .05rem;
}
.footer{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
font-size: 20px;
background: dimgray;
padding: 20px;
color: white;
}

